@import "variables";

.bl-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.bl-form {
    position: relative;
    padding: 1rem;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
    border-width: .2rem 0 0;

    @media (min-width: 576px) {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
    }
}